// Navbar.module.scss
@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  box-shadow: $card-box-shadow;
   position: sticky;
  top: 0;
  z-index: 50;


.logo {
    width: 120px;
    margin-right: 0.5rem;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    filter: none;
    /* Ensure logo is not stretched */
    object-fit: contain;
    /* Remove any blur effect */
}

}
